main{
    display: flex;
}

main div {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: burlywood;
    margin: auto;
    width: 40%;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: block;
    margin-bottom: 10px;
}

nav ul li a:hover{
    border-bottom: 1px solid black;
}


img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.cat1{
    text-align: center;
    width: 30%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: burlywood;
    margin: auto;
}





